extend ../layout.jade

block content
  .container(style="margin-top: 30px;")
    .row
      .col-lg-6.col-md-6.col-sm-6
        //- 작품 큰사진
        .row
          .cell.col-lg-12.col-md-12.col-sm-12.col-xs-12(style="margin-bottom: 0")
            .elem(style="padding-bottom: 70%; margin-bottom: 0")
              .img-wrapper
                img(src=featured_image.path)

        //- 작품 작은사진들
        - var sides = ["전면", "후면", "우측", "좌측", "상세보기1", "상세보기2"]
        .row(style="margin-left: -4px; margin-right: -4px;")
          each side, i in sides
            .cell.col-lg-2.col-md-3.col-sm-4.col-xs-6(style="padding-left: 4px; padding-right: 4px;")
              .elem(style="margin-bottom: 0")
                a.img-wrapper(href="#")
                  if images[i]
                    img(src=images[i].path)
                  else
                    img(src="http://placehold.it/200x140")
              span=side

      .col-lg-3.col-md-6.col-sm-6
        //- 작품정보
        .row
          .col-md-6.col-lg-6.col-sm-6
            dl.description
              dt 작품명
              dd= work.title
              dt 작가명
              dd= artist.name
              dt 규격
              dd= work.dimension
              dt 재질
              dd= work.material
              dt 분류
              dd= work.category
              dt 설치일자
              dd= moment(work.date).format("YYYY-MM-DD")
          .col-md-6.col-lg-6.col-sm-6
            dl.description
              dt 주소
              dd= work.place
              dt 건물명
              dd 건물명정보

      .col-lg-3.col-md-6.col-sm-6
        //- 작품 설명
        p.detail-desc
         = work.description
